.centrat{
    text-align: center;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    background-color: aquamarine;
    
    
}
h2{
    color: green;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 28px;
}
div{
    content-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
}
body{
    background-color: lightgreen;   
}

.imagine{
    border: 2px solid green;
    display: block;
    border-radius: 15px;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}
.tabel{
    border: 2px solid green;
    border-radius: 15px;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    background-color: aquamarine;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
#table tr:hover{
    background-color: red;
}